Repository EricCrosson/numbers-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.md": [
    "prettier --write"
  ],
  "*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.json": [
    "eslint --fix"
  ]
}

chore: bump version numbers
  packages/fast-check-numbers/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

ci: add top-level assets
  .releaserc.json
Due: eslint --fix

chore: update lockfile
  package-lock.json
Due: eslint --fix

ci: use a wrapping version of the github package
  .releaserc.json
  package-lock.json
  package.json
Due: eslint --fix

fix(docs): simplify readme badges
  packages/fast-check-numbers/README.md
Due: prettier --write

chore(release): 1.2.2 [skip ci]
  packages/fast-check-numbers/CHANGELOG.md
  packages/fast-check-numbers/package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d8c39227a8046800d57763ec9ccd63276eb819ee
Due: none

chore(deps): upgrade typescript to v5.0.4
  package-lock.json
  package.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

build(nix): use devShells.default
  flake.nix
Due: none

chore(deps): update tsx to v4
  flake.lock
  flake.nix
  package-lock.json
  package.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/docs/modules/NonNegativeBigInt.ts.md
  packages/io-ts-bigint/docs/modules/NonPositiveBigInt.ts.md
  packages/io-ts-bigint/docs/modules/NonZeroBigInt.ts.md
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/docs/modules/Natural.ts.md
  packages/io-ts-numbers/docs/modules/NonNegative.ts.md
  packages/io-ts-numbers/docs/modules/NonNegativeInt.ts.md
  packages/io-ts-numbers/docs/modules/NonPositive.ts.md
  packages/io-ts-numbers/docs/modules/NonPositiveInt.ts.md
  packages/io-ts-numbers/docs/modules/NonZeroInt.ts.md
  packages/io-ts-numbers/package.json
Due: prettier --write, eslint --fix

chore: pin semantic-release plugin to non-esm version
  .github/renovate.json
  package-lock.json
  package.json
Due: eslint --fix
