Repository EricCrosson/numbers-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(io-ts-numbers): patch version update
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(fast-check-numbers): patch version update
  packages/fast-check-numbers/package.json
Due: eslint --fix

chore: specify sideEffects: false
  packages/fast-check-bigint/package.json
Due: eslint --fix

housekeeping
  package-lock.json
Due: eslint --fix

doc: add related links to arbitraries
  packages/io-ts-bigint/README.md
  packages/io-ts-numbers/README.md
Due: prettier --write

fix: import paths
  packages/fast-check-bigint/src/NegativeBigInt.ts
  packages/fast-check-bigint/src/NonNegativeBigInt.ts
  packages/fast-check-bigint/src/NonPositiveBigInt.ts
  packages/fast-check-bigint/src/NonZeroBigInt.ts
  packages/fast-check-bigint/src/PositiveBigInt.ts
  packages/fast-check-bigint/src/ZeroBigInt.ts
Due: prettier --write, eslint --fix

chore(deps): add renovate.json
  renovate.json
Due: eslint --fix

chore: configure renovate
  .github/renovate.json
Due: eslint --fix

chore(deps): pin dependencies
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore: provide top-level build script
  README.md
  package-lock.json
  package.json
  packages/fast-check-bigint/tsconfig.json
  packages/fast-check-numbers/tsconfig.json
  packages/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix

ci: add CI/CD with GitHub actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: eslint --fix

chore: prepare version numbers for semantic-release
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

docs: add readme badges
  README.md
Due: prettier --write

chore(deps): update node.js to v16.13.1
  .nvmrc
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

Revert "chore: prepare version numbers for semantic-release"
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

fix: restore npm install functionality
  package-lock.json
Due: eslint --fix

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: eslint --fix

Notes added by 'git notes add'
  97c74feaf8a9de5fca32b894ac9229c15a42f13a
Due: none

chore(deps): update dependency ts-node to v10
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

fix: do not use codec in arbitrary definition
  packages/fast-check-bigint/src/NegativeBigInt.ts
  packages/fast-check-bigint/src/NonNegativeBigInt.ts
  packages/fast-check-bigint/src/NonPositiveBigInt.ts
  packages/fast-check-bigint/src/NonZeroBigInt.ts
  packages/fast-check-bigint/src/PositiveBigInt.ts
  packages/fast-check-bigint/src/ZeroBigInt.ts
  packages/fast-check-numbers/src/Int.ts
  packages/fast-check-numbers/src/Negative.ts
  packages/fast-check-numbers/src/NegativeInt.ts
  packages/fast-check-numbers/src/NonNegative.ts
  packages/fast-check-numbers/src/NonNegativeInt.ts
  packages/fast-check-numbers/src/NonPositive.ts
  packages/fast-check-numbers/src/NonPositiveInt.ts
  packages/fast-check-numbers/src/NonZero.ts
  packages/fast-check-numbers/src/NonZeroInt.ts
  packages/fast-check-numbers/src/Positive.ts
  packages/fast-check-numbers/src/PositiveInt.ts
  packages/fast-check-numbers/src/Zero.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency eslint-plugin-prettier to v3.4.1
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency docs-ts to v0.6.10
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency eslint to v7.32.0
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency eslint-plugin-import to v2.25.4
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency eslint-plugin-fp-ts to v0.3.0
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore: run prettier on docs after generation
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/docs/modules/Negative.ts.md
  packages/fast-check-numbers/docs/modules/NegativeInt.ts.md
  packages/fast-check-numbers/docs/modules/NonNegative.ts.md
  packages/fast-check-numbers/docs/modules/NonNegativeInt.ts.md
  packages/fast-check-numbers/docs/modules/NonPositive.ts.md
  packages/fast-check-numbers/docs/modules/NonPositiveInt.ts.md
  packages/fast-check-numbers/docs/modules/NonZero.ts.md
  packages/fast-check-numbers/docs/modules/NonZeroInt.ts.md
  packages/fast-check-numbers/docs/modules/Positive.ts.md
  packages/fast-check-numbers/docs/modules/PositiveInt.ts.md
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/docs/modules/NegativeBigIntFromString.ts.md
  packages/io-ts-bigint/docs/modules/NonNegativeBigInt.ts.md
  packages/io-ts-bigint/docs/modules/NonPositiveBigInt.ts.md
  packages/io-ts-bigint/docs/modules/NonZeroBigInt.ts.md
  packages/io-ts-bigint/docs/modules/PositiveBigIntFromString.ts.md
  packages/io-ts-bigint/docs/modules/ZeroBigIntFromString.ts.md
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/docs/modules/Natural.ts.md
  packages/io-ts-numbers/docs/modules/NegativeFromString.ts.md
  packages/io-ts-numbers/docs/modules/NonNegative.ts.md
  packages/io-ts-numbers/docs/modules/NonPositive.ts.md
  packages/io-ts-numbers/docs/modules/NonZero.ts.md
  packages/io-ts-numbers/docs/modules/PositiveFromString.ts.md
  packages/io-ts-numbers/docs/modules/ZeroFromString.ts.md
  packages/io-ts-numbers/package.json
Due: prettier --write, eslint --fix

ci: ensure docs are accurate
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  525e5039a1e4a13672b72636a048da9801f5d4b0
Due: none

chore(deps): update dependency typescript to v4.5.4
  package-lock.json
  package.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update typescript-eslint monorepo to v4.33.0
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency prettier to v2.5.1
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

Path conditions:
  prettier --write: (any of: *.md) or (any of: *.ts)
  eslint --fix: (any of: *.ts) or (any of: *.json)
