Repository EricCrosson/numbers-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.md": [
    "prettier --write"
  ],
  "*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.json": [
    "eslint --fix"
  ]
}

chore(deps): update dependency @types/node to v16.11.39
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency lint-staged to v13.0.1
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): update dependency semantic-release to v19.0.3
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): update dependency prettier to v2.7.0
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency @types/node to v16.11.40
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency @types/node to v16.11.41
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency prettier to v2.7.1
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(deps): update dependency lint-staged to v13.0.2
  package-lock.json
  package.json
Due: eslint --fix

chore: add fast-check to ava update group
  .github/renovate.json
Due: eslint --fix

chore: add nix flake for development
  .envrc
  .gitignore
  .nvmrc
  flake.lock
  flake.nix
Due: none

chore: add test npm script
  package.json
Due: eslint --fix

chore(dev-deps): remove @types/node
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

ci: use relative Node.js LTS version references
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: add concurrency limits
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

docs: remove stale information from readme
  README.md
Due: prettier --write

chore: add LICENSE file
  LICENSE
Due: none

chore: use pre-commit-hooks.nix
  .gitignore
  flake.lock
  flake.nix
Due: none

chore: simplify readme badges
  README.md
Due: prettier --write

chore(dev-deps): remove unnecessary dev dependencies
  package-lock.json
  package.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore: remove references to eslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  packages/fast-check-bigint/.eslintrc.json
  packages/fast-check-numbers/.eslintrc.json
  packages/io-ts-bigint/.eslintrc.json
  packages/io-ts-numbers/.eslintrc.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore: use consistent test script in package manifests
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore: remove double-check of docs for accuracy
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: remove prepublishOnly npm scripts
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore(renovate): disable typescript updates
  .github/renovate.json
Due: eslint --fix

chore(renovate): fix typo
  .github/renovate.json
Due: eslint --fix

docs: add specificity to project scope
  README.md
Due: prettier --write

chore(dev-deps): remove semantic-release
  package-lock.json
  package.json
Due: eslint --fix

ci: use new plugin to improve specificity of release comments
  .releaserc.json
  package-lock.json
  package.json
Due: eslint --fix

fix(docs): simplify readme badges
  packages/io-ts-numbers/README.md
Due: prettier --write

chore: set version numbers to 0.0.0
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

chore: set all version numbers
  package-lock.json
  packages/fast-check-bigint/package.json
  packages/fast-check-numbers/package.json
  packages/io-ts-bigint/package.json
  packages/io-ts-numbers/package.json
Due: eslint --fix

ci: configure assets for semantic-release
  .releaserc.json
Due: eslint --fix

Notes added by 'git notes add'
  3273d17f4725dede55a236239bf5ba7f05d32894
Due: none
